/* Styles for findingcare */

#content { display: none; }

body.has-nav { padding-top: 0; }
#content { position: absolute; top: 0; left: 0; overflow-y: hidden; }

section { position: relative; margin: 0; padding: 0; }
section img {
    -webkit-transition: -webkit-filter 2.5s ease-in-out;
    -webkit-filter: grayscale(100%); 
}
section.active img {
    -webkit-filter: grayscale(0); 
}
section.fast img {
    -webkit-transition: -webkit-filter .6s ease-in-out;
}

.container-fluid { max-width: auto; width: auto; }

a.modal-link { color: #00c; }

a.modal-link i { margin-left: 4px; }

.bubble {
    display: none;
    position: absolute; 
    background-color: #eee;
    padding: 14px 20px;
    z-index: 10;
    color: #000;
    border: 2px solid #999;
}
.bubble h1 { margin-bottom: 25px; }

.navbar { position: absolute; z-index: 500; top: 0; left: 0; width: 100%; }
.navbar-inner { border-radius: 0; }

.nav-buttons { text-align: center; margin-top: 25px; }

div.jp-audio, div.jp-interface { border: none; width: 185px; overflow: hidden; margin: 0 auto; }
div.jp-audio div.jp-type-single div.jp-progress,
div.jp-audio div.jp-type-single div.jp-time-holder { left: 45px; width: 120px; }
div.jp-audio div.jp-progress { top: 22px; }
div.jp-audio div.jp-type-single div.jp-time-holder { top: 44px; } 

.audio-wrapper {
    padding: 0 0 5px 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}

.audio-wrapper p {
    margin-bottom: 0;
    font-style: italic;
    color: #555;
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
}
div.jp-audio ul.jp-controls { padding-left: 0; }

.modal { width: auto; max-width: 80%; }
