/* Styles for findingcare */

#content { display: none; }

body.has-nav { padding-top: 0; }
#content { position: absolute; top: 0; left: 0; overflow-y: hidden; }

section { position: relative; margin: 0; padding: 0; }
section img {
    -webkit-transition: -webkit-filter 2.5s ease-in-out;
    -webkit-filter: grayscale(100%); 
}
section.active img {
    -webkit-filter: grayscale(0); 
}
section.fast img {
    -webkit-transition: -webkit-filter .6s ease-in-out;
}

.container-fluid { max-width: auto; width: auto; }

a.modal-link { color: #00c; }

a.modal-link i { margin-left: 4px; }

.bubble { 
    position: absolute; 
    top: 200px; right: 100px; 
    width: 200px;
    background-color: #fff;
    padding: 10px;
    z-index: 10;
}

.navbar { position: absolute; z-index: 500; top: 0; left: 0; width: 100%; }
.navbar-inner { border-radius: 0; }

.nav-buttons { text-align: center; }
