{# The default project templates assumes a _base.html template to be extended. #}
{% extends '_base.html' %}

{% block css %}

{# Call base template css block #}
{{ super() }}

{# Now add our stylesheet using static_url function #}
<link rel="stylesheet" type="text/css" href="{{ static_url('healthstats', '/css/style.css') }}" />
{% endblock %}

{% block scripts %}{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <h1>{{ title }}</h1>
    <table class="table">
        <thead>
            <th>Area</th>
            <th>Birthrate difference 1999 - 2009</th>
            <th>Birthrate rank (2009)</th>
            <th>Birthrate percentile rank (2009)</th>
            <th>Low birth weight % rank (2009)</th>
            <th>Low birth weight % percentile rank (2009)</th>
            <th>Preterm birth % rank (2009)</th>
            <th>Preterm birth % percentile rank (2009)</th>
        </thead>
        <tbody>
            {% for area in summary %}
            <tr id="area-{{ area.number }}">
                <td><a href="#area-{{ area.number }}-detail">{{ area.name }}</a></td>
                <td>{{ area.birthrate_difference_1999_2009 }}%</td>
                <td>{{ area.birthrate_rank_2009 }}</td>
                <td>{{ area.birthrate_percentile_rank_2009 }}</td>
                <td>{{ area.lowbirthweight_rank_2009 }}</td>
                <td>{{ area.lowbirthweight_percentile_rank_2009 }}</td>
                <td>{{ area.pretermpct_rank_2009 }}</td>
                <td>{{ area.pretermpct_percentile_rank_2009 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for area in summary %}
    <div id="area-{{ area.number }}-detail" class="row-fluid">
        <h2>{{ area.name }}</h2>
        <div class="span5 summary">
        </div>
        <div class="span7 charts">
        </div>
    </div>
    {% endfor %}
{% endblock %}
