{# The default project templates assumes a _base.html template to be extended. #}
{% extends '_base.html' %}
{% import 'findingcare/_player.html' as player_macros with context %}

{% block css %}

{# Call base template css block #}
{{ super() }}

{# Now add our stylesheet using static_url function #}
<link type="text/css" href="{{ static_url(project, "skin/jplayer.blue.monday.css") }}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ static_url('findingcare', '/css/style.css') }}" />
{% endblock %}

{% block branding %}{% endblock branding %}

{% block content %}

<section id="slide1" data-title="{{ slide1.title.value }}">
    <div class="background-image"><img src="{{ slide1.image.value }}" /></div>

    <div class="bubble fast" id="slide1-bubble1" style="width: {{ slide1.bubble_width.value }}; left: {{ slide1.bubble_position_x.value }}; top: {{ slide1.bubble_position_y.value }};">
        <div class="bubble-inner">
            <h1>{{ slide1.title.value|process_text }}</h1>

            <div class="body">
                {{ slide1.body.markup|markdown }} 
            </div>
            <div class="row-fluid audio-wrapper">
                <div class="span5">
                    {{ player_macros.player('slide1', slide1.audio_var.value) }}
                </div>
                <div class="span7">
                    <p class="audio-caption">{{ slide1.audio_caption.value }}</p>
                </div>
            </div>

            <div class="nav-buttons">
                <a href="#slide2" class="btn btn-primary">Next &raquo;</a>
            </div>
        </div>
    </div>

</section>

<section id="slide2" data-title="{{ slide2.title.value }}">
    <div class="background-image"><img src="{{ slide2.image.value }}" /></div>

    <div class="bubble" id="slide2-bubble1" style="width: {{ slide2.bubble_width.value }}; left: {{ slide2.bubble_position_x.value }}; top: {{ slide2.bubble_position_y.value }};">
        <div class="bubble-inner">
            <h1>{{ slide2.title.value }}</h1>

            <div class="body">
                {{ slide2.body.markup|markdown }} 
            </div>

            <div class="nav-buttons">
                <a href="#slide1" class="btn btn-primary">&laquo; Previous</a>
                <a href="#slide3" class="btn btn-primary">Next &raquo;</a>
            </div>
        </div>
    </div>
</section>

<section id="slide3" data-title="{{ slide3.title.value }}">
    <div class="background-image"><img src="{{ slide3.image.value }}" /></div>

    <div class="bubble" id="slide3-bubble1" style="width: {{ slide3.bubble_width.value }}; left: {{ slide3.bubble_position_x.value }}; top: {{ slide3.bubble_position_y.value }};">
        <div class="bubble-inner">
            <h1>{{ slide3.title.value }}</h1>

            <div class="body row-fluid">
                {{ slide3.body.markup|markdown }} 
            </div>
            <div class="nav-buttons">
                <a href="#slide2" class="btn btn-primary">&laquo; Previous</a>
                <a href="#slide4" class="btn btn-primary">Next &raquo;</a>
            </div>
        </div>
    </div>
</section>

<section id="slide4" data-title="{{ slide4.title.value }}">
    <div class="background-image"><img src="{{ slide4.image.value }}" /></div>

    <div class="bubble" id="slide4-bubble1" style="width: {{ slide4.bubble_width.value }}; left: {{ slide4.bubble_position_x.value }}; top: {{ slide4.bubble_position_y.value }};">
        <div class="bubble-inner">
            <h1>{{ slide4.title.value }}</h1>
            <div class="body">
                {{ slide4.body.markup|markdown }} 
            </div>
            <div class="nav-buttons">
                <a href="#slide3" class="btn btn-primary">&laquo; Previous</a>
                <a href="#slide5" class="btn btn-primary">Next &raquo;</a>
            </div>
        </div>
    </div>
</section>

<section id="slide5" data-title="{{ slide5.title.value }}">
    <div class="background-image"><img src="{{ slide5.image.value }}" /></div>

    <div class="bubble" id="slide5-bubble1" style="width: {{ slide5.bubble_width.value }}; left: {{ slide5.bubble_position_x.value }}; top: {{ slide5.bubble_position_y.value }};">
        <div class="bubble-inner">
            <h1>{{ slide5.title.value }}</h1>
            <div class="body">
                {{ slide5.body.markup|markdown }} 
            </div>
            <div class="nav-buttons">
                <a href="#slide4" class="btn btn-primary">&laquo; Previous</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
